<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    <main class="site-main">
      {{ content }}
    </main>
    {% include lightbox.html %}
    {% include footer.html %}
    <script src="{{ '/assets/js/site.js' | relative_url }}"></script>
  </body>
</html>
